* {
    margin: 0;
    padding: 0;
    touch-action: none;
}

body {
    background-color: rgb(253, 180, 84);
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

/* --------------- */
/* WELCOME CONTENT */
/* --------------- */

#welcome-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 4;
}

#username-input {
    /* Input Design */
    border: none;
    background-color: cornflowerblue;
    border-radius: 30px;
    height: 50px;
    width: 250px;

    /* Text Design */
    color: white;
    caret-color: white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;

    /* Other */
    margin-bottom: 20px;
    transition: background-color 0.5s;
    z-index: 4;
}

#username-input:hover {
    border: 3px dashed white;
    background-color: rgb(58, 107, 199);
}

#enter-button {
    /* Button Design */
    border: none;
    background-color: rgb(195, 116, 240);
    border-radius: 30px;
    height: 50px;
    width: 250px;

    /* Text Design */
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;

    /* Other */
    margin-bottom: 20px;
    transition: background-color 0.5s;
    z-index: 4;
}

#enter-button:hover {
    background-color: rgb(168, 84, 216);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input::placeholder {
    opacity: .5;
    color: white;
}

/* ------------ */
/* HOME CONTENT */
/* ------------ */

#home-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 4;
}

#play-button {
    /* Button Design */
    border: none;
    background-color: rgb(195, 116, 240);
    border-radius: 30px;
    height: 50px;
    width: 250px;

    /* Text Design */
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;

    /* Other */
    margin-bottom: 20px;
    transition: background-color 0.5s;
    z-index: 4;
}

#play-button:hover {
    background-color: rgb(168, 84, 216);
}

#lboard-button {
    /* Button Design */
    border: none;
    background-color: rgb(236, 196, 62);
    border-radius: 30px;
    height: 50px;
    width: 250px;

    /* Text Design */
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;

    /* Other */
    margin-bottom: 20px;
    transition: background-color 0.5s;
    z-index: 4;
}

#lboard-button:hover {
    background-color: rgb(206, 170, 54);
}





.bg-container {
    width: 300vw;
    height: 300vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    overflow: hidden;
    z-index: -5;
}
  
.bg-scroll {
    opacity: 1;
    position: absolute;
    /* make BG larger than container */
    height: 150%;
    width: 150%;
    /* center bg in container - ratio of 150% */
    top: -25%;
    left: -25%;
    background: url(pattern.png) repeat;
    background-size: 650px;
    animation: backgroundScroll 25s linear infinite;
    transform: rotate(-45deg) scale(1);
    transform-origin: center center;
    z-index: 2;
}
  
@keyframes backgroundScroll {
      0% {
      background-position: 0 0;
    }
      100% {
      /* pattern bg texture is 1000x1000px */
      background-position:0 -1000px;
    }
}