/*
 _______  _______  __    _  _______  ______    _______  ___     
|       ||       ||  |  | ||       ||    _ |  |   _   ||   |    
|    ___||    ___||   |_| ||    ___||   | ||  |  |_|  ||   |    
|   | __ |   |___ |       ||   |___ |   |_||_ |       ||   |    
|   ||  ||    ___||  _    ||    ___||    __  ||       ||   |___ 
|   |_| ||   |___ | | |   ||   |___ |   |  | ||   _   ||       |
|_______||_______||_|  |__||_______||___|  |_||__| |__||_______|                                             
*/

* {
    margin: 0;
    padding: 0;
    touch-action: none;
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
    background-image: url(assets/cornfall/background-corn.png);
    background-size: cover;
    background-color: rgb(146, 43, 146);

    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* MARQUEE */

@font-face {
    font-family: sfBlack;
    src: url(assets/general/SFBlack.ttf);
}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

#absolute-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#bg-container {
    width: 300vw;
    height: 300vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    overflow: hidden;
    z-index: -5;
    display: block;
}
  
#bg-scroll {
    opacity: 1;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%;
    background: url(assets/general/pattern.png) repeat;

    background-size: 650px;
    animation: backgroundScroll 60s linear infinite;
    transform: rotate(-45deg) scale(1);
    transform-origin: center center;
    z-index: 2;
    display: block;
}

#bg-container-skull {
    width: 300vw;
    height: 300vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    overflow: hidden;
    z-index: -5;
    display: block;
}

#bg-scroll-skully {
    opacity: 1;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%;
    background: url(assets/general/skull-pattern.png) repeat;
    background-size: 650px;
    animation: backgroundScroll 60s linear infinite;
    transform: rotate(135deg) scale(1);
    transform-origin: center center;
    z-index: 2;
    display: block;
}
  
@keyframes backgroundScroll {
      0% {
      background-position: 0 0;
    }
      100% {
      background-position:0 -1000px;
    }
}

#score {
    position: absolute;
    width: 100%;
    left: 0%;
    right: 0%;
    text-align: center;
    margin-top: 70px;

    color: rgb(255, 233, 208);
    font-weight: bold;
    font-size: 60px;
}

/* BUTTTOOOOOOOOOOOOOONNNNNNNNNSSSSSSSSSSSSSS */

#username-input {
    /* Input Design */
    border: none;
    background-color: cornflowerblue;
    border-radius: 30px;
    height: 50px;
    width: 250px;

    /* Text Design */
    color: white;
    caret-color: white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;

    /* Other */
    margin-bottom: 20px;
    transition: background-color 0.5s;
    z-index: 4;
}

#username-input:hover {
    border: 3px dashed white;
    background-color: rgb(58, 107, 199);
}

@keyframes spin { 100% { transform:rotate(360deg); } }

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

#loading-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(195, 116, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s;
}

#loading-screen span {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

#loading-tip {
    background-color: rgb(255, 233, 208);
    width: 70vw;
    padding: 20px 10px 20px 10px;
    border-radius: 15px;
    margin-top: 50vh;

    position: absolute;
}

#tip-title {
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    color: rgb(255, 150, 30);
    margin-bottom: 10px;
}

#tip-content {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

/* GENERALIZED BUTTONS */
.purple-long-button {
    /* Button Design */
    border: none;
    background-color: rgb(195, 116, 240);
    border-radius: 30px;
    height: 50px;
    width: 250px;

    /* Text Design */
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;

    /* Other */
    margin-bottom: 20px;
    transition: all 0.5s;
}
.purple-long-button:hover {
    background-color: rgb(168, 84, 216);
}

.yellow-long-button {
    /* Button Design */
    border: none;
    background-color: rgb(236, 196, 62);
    border-radius: 30px;
    height: 50px;
    width: 250px;

    /* Text Design */
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;

    /* Other */
    margin-bottom: 20px;
    transition: all 0.5s;
}
.yellow-long-button:hover {
    background-color: rgb(206, 170, 54);
}

.orange-long-button {
    /* Button Design */
    border: none;
    background-color: rgb(240, 133, 34);
    border-radius: 30px;
    height: 50px;
    width: 250px;

    /* Text Design */
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;

    /* Other */
    margin-bottom: 20px;
    transition: all 0.5s;
}
.orange-long-button:hover {
    background-color: rgb(179, 96, 19);
}

.blue-circle-button {
    background-color: cornflowerblue;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;

    margin-left: 20px;
    border: none;
    padding: 10px;
    border-radius: 30px;
    transition: all 0.5s;
}
.blue-circle-button:hover {
    background-color: rgb(58, 107, 199);
}

.purple-long-cat-button {
    /* Button Design */
    border: none;
    background-color: rgb(195, 116, 240);
    background-image: url(assets/general/cat-button.png);
    background-size: cover;
    border-radius: 30px;
    height: 50px;
    width: 250px;

    /* Text Design */
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;

    /* Other */
    margin-bottom: 20px;
    transition: all 0.5s;
}
.purple-long-cat-button:hover {
    background-color: rgb(168, 84, 216);
}

.orange-custom-long-button {
    /* Button Design */
    border: none;
    background-color: rgb(240, 133, 34);
    background-image: url(assets/general/custom-message-button.png);
    background-size: cover;
    border-radius: 30px;
    height: 50px;
    width: 250px;

    /* Text Design */
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;

    /* Other */
    margin-bottom: 20px;
    transition: all 0.5s;
}
.orange-custom-long-button:hover {
    background-color: rgb(179, 96, 19);
}

/* BUTTON DROP SHADOW */
.ds-light {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 29px 0px;
}
.ds-heavy {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
}
.ds-even-light {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 29px 0px;
}
.ds-even-heavy {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 29px 0px;
}

.game-over-ui {
    z-index: 10;
}

/*
 _     _  _______  ___      _______  _______  __   __  _______ 
| | _ | ||       ||   |    |       ||       ||  |_|  ||       |
| || || ||    ___||   |    |       ||   _   ||       ||    ___|
|       ||   |___ |   |    |       ||  | |  ||       ||   |___ 
|       ||    ___||   |___ |      _||  |_|  ||       ||    ___|
|   _   ||   |___ |       ||     |_ |       || ||_|| ||   |___ 
|__| |__||_______||_______||_______||_______||_|   |_||_______|
*/

#welcome-content {
    width: 100vw;
    height: 100vh;

    /* UPDATED FROM FLEX TO NONE*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 4;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input::placeholder {
    opacity: .5;
    color: white;
}

/*
 __   __  _______  __   __  _______ 
|  | |  ||       ||  |_|  ||       |
|  |_|  ||   _   ||       ||    ___|
|       ||  | |  ||       ||   |___ 
|       ||  |_|  ||       ||    ___|
|   _   ||       || ||_|| ||   |___ 
|__| |__||_______||_|   |_||_______|
*/

#home-content {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 4;
}

.rightTI { 
    white-space: nowrap; 
    overflow: hidden;
    animation: marquee 50s linear infinite;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 10px;
    height: 20px;

    background-color: rgb(170, 103, 27);
    color: rgb(255, 233, 208);
}

.rightTI:hover {
    animation-play-state: paused;
}
@-webkit-keyframes marquee {
    0% {text-indent: 100%;}
    100% {text-indent: -1000%;}
}

#segment-loader {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: transparent;
    display: none;
}

/* INFO BANNER */

#info-window {
    background-image: url(assets/general/banner-graveguess.png);
    background-size: cover;
    padding: 20px;
    width: 75vw;
    border-radius: 30px;
    margin-bottom: 200px;
    box-shadow: rgb(0, 0, 0, 0.2) 0px 7px 29px 0px;
    transition: all 1s;
}

#info-window:hover {
    transform: scale(1.05);
}

#info-title {
    text-align: center;
    top: 0px;

    color: rgb(255, 190, 116);
    font-weight: 600;
    font-size: 20px;
}

#upcoming-game {
    text-align: center;
    top: 0px;

    color: rgb(253, 168, 70);
    border-radius: 5px;
    text-shadow: rgba(255, 255, 255, 1) 0px 0px 20px;
    font-weight: bold;
    font-size: 35px;
}

#time-left {
    text-align: center;
    top: 0px;

    color: rgb(255, 161, 53);
    font-weight: bold;
    font-size: 60px;
    animation: float 3s infinite;
}

@keyframes float {
	0% {transform: scale(0.9)  }
	50% { transform: scale(1) }
  100% { transform: scale(0.9) }
}

#local-username {
    color: rgb(255, 233, 208);
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 20px;
    animation: tilt-n-move-shaking 0.6s infinite;
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

/*
 ___      _______  _______  ______   _______  ______    _______  _______  _______  ______    ______  
|   |    |       ||   _   ||      | |       ||    _ |  |  _    ||       ||   _   ||    _ |  |      | 
|   |    |    ___||  |_|  ||  _    ||    ___||   | ||  | |_|   ||   _   ||  |_|  ||   | ||  |  _    |
|   |    |   |___ |       || | |   ||   |___ |   |_||_ |       ||  | |  ||       ||   |_||_ | | |   |
|   |___ |    ___||       || |_|   ||    ___||    __  ||  _   | |  |_|  ||       ||    __  || |_|   |
|       ||   |___ |   _   ||       ||   |___ |   |  | || |_|   ||       ||   _   ||   |  | ||       |
|_______||_______||__| |__||______| |_______||___|  |_||_______||_______||__| |__||___|  |_||______| 
*/

#leaderboard-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 4;

    display: flex;
    justify-content: center;
}

textarea {
    /* Input Design */
    border: none;
    background-color: cornflowerblue;
    border-radius: 15px;
    width: 70vw;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 29px 0px;

    /* Text Design */
    color: white;
    caret-color: white;
    text-align: left;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 20px;

    /* Other */
    resize: none;
    margin-bottom: 20px;
    transition: background-color 0.5s;
    z-index: 4;
}

textarea::-webkit-input-placeholder {
    color: #b1caf6;
    font-weight: bold;
}
  
textarea:-moz-placeholder { /* Firefox 18- */
    color: #b1caf6;  
    font-weight: bold;
}
  
textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #b1caf6;  
    font-weight: bold;
}
  
textarea:-ms-input-placeholder {
    color: #b1caf6;  
    font-weight: bold;
}
  
textarea::placeholder {
    color: #b1caf6;  
    font-weight: bold;
}

#prompt-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: sfBlack;
    text-align: center;
    color: rgb(240, 133, 34)
}

#prompt-hint {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    width: 70vw;
    height: auto;
    padding: 20px;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 15px;
}

textarea:hover {
    border: 3px dashed white;
    background-color: rgb(58, 107, 199);
}

#message-prompt {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    display: none;
    background-color: rgb(255, 233, 208);

	animation: rainbow-bg 5s linear;
	animation-iteration-count: infinite;
}

@keyframes rainbow-bg{
		100%,0%{
			background-color: #22a55d;
		}
		33%{
			background-color: #3d60a1;
		}
		66%{
			background-color: #cc7c21;
		}
		83%{
			background-color: #9d4ace;
		}
}

#prompt-window {
    display: flex;
    background-color: rgb(255, 233, 208);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 80vw;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;
}

#board {
    height: 60vh;
    width: 70vw;
    background-color: rgb(255, 233, 208);
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 7px 29px 0px;

    display: flex;
    align-items: center;
    overflow-y: hidden;
}

#top-bar-lb {
    display: flex;
    justify-content: center;
}

#scores-container {
    padding: 20px 0px 20px 0px;
    width: 80%;
    height: 90%;
    min-height: min-content;
    max-height: max-content;
    margin-right: auto;
    margin-left: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#username-entry {
    flex: 40%;
    text-align: left;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
    max-width: 100px;
    height: max-content;

    font-weight: bold;
    font-size: 17px;
}

#score-entry {
    flex: 40%;
    text-align: center;
    background-color: rgb(255, 206, 115);
    border-radius: 15px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
    height: max-content;

    font-weight: bold;
    font-size: 17px;
}

/*
 _______  _______  ______    __    _  _______  _______  ___      ___     
|       ||       ||    _ |  |  |  | ||       ||   _   ||   |    |   |    
|       ||   _   ||   | ||  |   |_| ||    ___||  |_|  ||   |    |   |    
|       ||  | |  ||   |_||_ |       ||   |___ |       ||   |    |   |    
|      _||  |_|  ||    __  ||  _    ||    ___||       ||   |___ |   |___ 
|     |_ |       ||   |  | || | |   ||   |    |   _   ||       ||       |
|_______||_______||___|  |_||_|  |__||___|    |__| |__||_______||_______|
*/

#halloween-game-canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: transparent;
}

#game-over-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
}

#cauldron {
    display: none;
}

#corn {
    display: none;
}

#bone {
    display: none;
}

/*
 _______  ______    _______  __   __  _______  _______  __   __  _______  _______  _______ 
|       ||    _ |  |   _   ||  | |  ||       ||       ||  | |  ||       ||       ||       |
|    ___||   | ||  |  |_|  ||  |_|  ||    ___||    ___||  | |  ||    ___||  _____||  _____|
|   | __ |   |_||_ |       ||       ||   |___ |   | __ |  |_|  ||   |___ | |_____ | |_____ 
|   ||  ||    __  ||       ||       ||    ___||   ||  ||       ||    ___||_____  ||_____  |
|   |_| ||   |  | ||   _   | |     | |   |___ |   |_| ||       ||   |___  _____| | _____| |
|_______||___|  |_||__| |__|  |___|  |_______||_______||_______||_______||_______||_______|
*/

#game-over-screen-grave-guess {
    position: absolute;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: none;
}

#grave-guess-game {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#grave-guess-container {
    display: flex;
    justify-content: center;
    padding-top: 170px;
}

#grave-guess-score {
    position: absolute;
    width: 100%;
    left: 0%;
    right: 0%;
    text-align: center;
    margin-top: 70px;

    color: rgb(255, 233, 208);
    font-weight: bold;
    font-size: 60px;
}

#grave-tile-container {
    background-color: #464646;
    width: 70vw;
    height: 70vw;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    border-radius: 20px;
}

.grave-tile-solid {
    flex: 30%;
    background-color: grey;
    border: none;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s;
}

.grave-tile {
    flex: 30%;
    background-color: grey;
    border: none;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.3s;
}

.grave-tile:hover {
    background-color: rgb(56, 56, 56);
}

.hint-green {
    box-shadow: rgba(0, 233, 39, 0.9) 0px 0px 17px;
}

.hint-orange {
    box-shadow: rgba(233, 179, 0, 0.9) 0px 0px 17px;
}

.hint-purple {
    box-shadow: rgba(234, 0, 255, 0.9) 0px 0px 17px;
}

.hint-red {
    box-shadow: rgba(255, 0, 0, 0.9) 0px 0px 17px;
}

#grave-1 {
    background-image: url(assets/graveguess/rune-1.png);
    background-size: cover;
    transition: all 0.2s;
}

#grave-1:hover {
    transform: scale(0.95);
}

#grave-2 {
    background-image: url(assets/graveguess/rune-2.png);
    background-size: cover;
    transition: all 0.2s;
}

#grave-2:hover {
    transform: scale(0.95);
}

#grave-3 {
    background-image: url(assets/graveguess/rune-3.png);
    background-size: cover;
    transition: all 0.2s;
}

#grave-3:hover {
    transform: scale(0.95);
}

#grave-4 {
    background-image: url(assets/graveguess/rune-4.png);
    background-size: cover;
    transition: all 0.2s;
}

#grave-4:hover {
    transform: scale(0.95);
}

#mask {
    position: absolute;
    display: block;
    width: inherit;
    height: inherit;
}